<!DOCTYPE html>
<html>
  <head>
    <title>LeadsOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
      <a class="navbar-brand" href="#">LeadsOnRails</a>
      <div id="navbar">
        <nav class="nav navbar-nav float-xs-left">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-item nav-link" %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "nav-item nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-item nav-link"  %>
          <% end %>
        </div>
        <form class="float-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <%= link_to companies_path do %>
                Companies
              <% end %>
            </li>
            <li>
              <%= link_to people_path do %>
                People
              <% end %>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
